<table>
  <thead>
  <tr>
    <td>Parcels / Abstract</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @service.parcels.each do |parcel| %>
        <% @id = [parcel.tax_map, parcel.tax_parcel].compact.join("-") %>
  </tr><% end %>
  </tbody>
</table>
