<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <h1 class="flex-title">Completed Abstracts</h1>
    <p>Abstracts completed by the Abstractor to be accepted for an Opinion</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <h1 class="flex-title">Opinions Pending Review</h1>
    <p>Completed opinions submitted to Second Attorney for Review</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <h1 class="flex-title">Opinions to Review</h1>
    <p>Opinion receieved from first Attorney for Review</p>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <h1 class="flex-title">Opinions in Progress</h1>
    <p>Opinions being worked on.</p>
  </a>
</div>
