<div id="client-index">
  <h1>Lawyers</h1>
  <table>
    <thead>
    <tr>
      <td>Firm</td>
      <td>Name</td>
      <td>Phone</td>
      <td>Email<td>
    </tr>
    </thead>
    <tbody>
    <% @lawyers.each do |lawyer| %>
        <tr>
          <% firm = lawyer.lawfirm %>
          <td><%= link_to(lawfirm.name, lawfirm_path(lawfirm))  %></td>
          <td><%= link_to(lawyer.last_name, lawyer_path(lawyer))  %></td>
          <td><%= lawyer.phone %></td>
          <td><%= lawyer.email %><td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
