<h3>Client</h3>
<% @firm = @lawyer.lawfirm %>
<p>Firm: <%= @firm.name %></p>
<p>Email: <%= @lawyer.email if @lawyer.email %></p>
<p>Name: <%= @lawyer.name if @lawyer.name %></p>
<p>Phone: <%= @lawyer.phone if @lawyer.phone %> </p>
