<div class="flex-boxes">
<a class="flex-box flex-box-full">
    <h2 class="flex-title">Lawgix OGX Projects</h2>
<div id="parcel-index">
<h1>Parcels</h1>
<table class="tables">
    <thead>
       <tr>
         <th>Tax Parcel</th>
         <th>Project</th>
         <th>County</th>
       </tr>
     </thead>
     <tbody>
         <% @parcels.each do |parcel| %>
         <tr>
            <td><%= parcel.tax_parcel %></td>
                <% if parcel.project %> 
            <td><%= parcel.project.name  %></td>
            <td><%= parcel.county  %></td>
                <% end  %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
