<div class="flex-boxes">
  <dic class="flex-box flex-box-full">
<div id="client-index">
  <h1>Employees</h1>
  <table>
    <thead>
    <tr>
      <td>Company</td>
      <td>Name</td>
      <td>Phone</td>
      <td>Email<td>
    </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
        <tr>
          <% company = employee.company %>
          <td><%= link_to(company.name, company_path(company))  %></td>
          <td><%= link_to(employee.last_name, employee_path(employee))  %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.email %><td>
        </tr>
       <% end %>
     </tbody>
   </table>
 </div>
 </div>
</div>
