<h3>Employee</h3>
<% @company = @employee.company %>
<p>Company: <%= @company.name %></p>
<p>Email: <%= @employee.email if @employee.email %></p>
<p>Name: <%= @employee.name if @employee.name %></p>
<p>Phone: <%= @employee.phone if @employee.phone %> </p>
