<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-full">
      <h2 class="flex-title">Abstractors</h2>
  <table>
    <thead>
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>Email<td>
    </tr>
    </thead>
    <tbody>
    <% @abstractors.each do |abstractor| %>
        <tr>
          <td><%= link_to(abstractor.name, abstractor_path(abstractor))  %></td>
          <td><%= abstractor.phone %></td>
          <td><%= abstractor.email %><td>
        </tr>
       <% end %>
     </tbody>
   </table>
  </a>
</div>
