<div id="client-index">
  <h1>Clients</h1>
  <table>
    <thead>
    <tr>
      <td>Company</td>
      <td>Name</td>
      <td>Phone</td>
      <td>Email<td>
    </tr>
    </thead>
    <tbody>
    <% @clients.each do |client| %>
        <tr>
          <% company = client.company %>
          <td><%= link_to(company.name, company_path(company))  %></td>
          <td><%= link_to(client.last_name, client_path(client))  %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %><td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
