<h3>Client</h3>
<% @company = @client.company %>
<p>Company: <%= @company.name %></p>
<p>Email: <%= @client.email if @client.email %></p>
<p>Name: <%= @client.name if @client.name %></p>
<p>Phone: <%= @client.phone if @client.phone %> </p>
