<table>
  <thead>
  <tr>
    <td>Lease Number</td>
    <td>Abstractor</td>
  </tr>
  </thead>
  <tbody>
  <%= will_paginate @services %>
  <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
        <td>Abstractor</td>
      </tr>
  <% end %>
  </tbody>
</table>
