
<div id="service-index">
  <h1>Lawgix Service States</h1>
  <table>
    <thead>
    <tr>
      <td>Lease Number</td>
      <td>Current State</td>
    </tr>
    </thead>
    <tbody>
    <% @service_transitions.each do |transition| %>
        <tr>
          <td><%= transition.service.lease_id %></td>
          <td><%= transition.current_state %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
