
<div id="service-index">
  <h1>Lawgix Service Status</h1>
  <table>
    <thead>
    <tr>
      <td>Lease Number</td>
      <td>Current Status</td>
    </tr>
    </thead>
    <tbody>
    <% @transitions.each do |transition| %>
        <tr>
          <td><%= transition.service.lease_number %></td>
          <td><%= transition.to_state %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
