<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-full">
    <h2 class="flex-title">New Requests</h2>
    <!--<%= render partial: 'new_table' %>-->
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-full">
    <h1 class="flex-title">Abstracts in Progess</h1>
    <!--<%= render 'abstract_table' %>-->
  </a>
</div>
