<div class="flex-boxes">
<div class="flex-box flex-box-full">
    <h2>Contacts</h2>
  <table class="tables">
     <thead>
     <tr>
       <th>Name</th>
       <th>Phone</th>
       <th>Email</th>
       <th>Project</th>    
     </tr>
     </thead>
     <tbody>
     <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to(contact.alt_name, contact_path(contact))  %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
              <% if contact.project %>
                  <td><%= link_to(contact.project.name, contact.project ) %></td>
              <% end %>
        </tr>
     <% end %>
     </tbody>
   </div>
</div>
