<p id="notice"><%= notice %></p>
<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-full">
    <h2 class="flex-title">Documents</h2>


    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Doc Type</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @documents.each do |document| %>
          <tr>
            <td><%= link_to document.name, document %></td>
            <td><%= document.doc_type %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </a>
</div>

<br>

<%= link_to 'New Title abstract', new_title_abstract_path %>
