<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  </thead>
  <tbody>

  <% @abstracts = @project.title_abstracts %>
  <% @abstracts.each do |abstract| %>
      <tr>
        <td><%= link_to abstract, abstract %></td>
  <% end %>
  </tr>
  </tbody>
</table>
