<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Type</td>
    <td>Lease</td> 
  </tr>
  </thead>
  <tbody>

  <% @contacts = @project.contacts %>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.last_name, contact %></td>
        <td><%= contact.type %></td> 
        <% if contact.type == "Lessor" %> 
          <td><%= link_to contact.lease.lease_number, contact.lease  %><td>
        <% end %>
  <% end %>
  </tr>
  </tbody>
</table>
