<table>
  <thead>
  <tr>
    <th>Leases</th>
    <th>State</thB>
    <th>County</th>
  </tr>
  </thead>
  <tbody>

  <% @leases = @project.leases %>
  <% @leases.each do |lease| %>
      <tr>
        <td><%= link_to lease.lease_number, lease %></td>
        <td><%= lease.state %></td>
        <td><%= lease.county %></td>
        <% end %>
     </tr>
  </tbody>
</table>
