<div id="parcel-index">
  <table>
    <thead>
    <tr>
      <td>Parcel ID</td>
      <td>County</td>
    </tr>
    </thead>
    <tbody>
    <% @project.parcels.each do |parcel| %>
        <tr>
          <td><%= link_to parcel.tax_parcel, parcel %></td>
          <td><%= parcel.county %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
