<table>
  <thead>
  <tr>
    <td>Leases</td>
    <td>Parcels / Abstract</td>
  </tr>
  </thead>
  <tbody>

  <% @services = @project.services %>
  <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
        <% end %>
     </tr>
  </tbody>
</table>
