<table>
  <thead>
  <tr>
    <th>Request</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  <% @services = @project.services %>
  <% @services.each do |service| %>
  <tr>
        <td><%= link_to service.sr_name, service %></td>
        <td><%= link_to service.request, service %></td>
        <td><%= service.current_state %></td>
        <% end %>
     </tr>
  </tbody>
</table>
