  <div class="flex-boxes">
    <a class="flex-box flex-box-full">
      <h2 class="flex-title">Lawgix OGX Projects</h2>

  <table class="tables">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <%=   paginate @projects  %>
    <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.description %></td>
               <% end %>
        </tr>
    </tbody>
  </table>
  </a>
</div>
