
<div id='lease-location>

  <h1>Lease Number: #{lease_number}</h1>
  <h2>Description: #{description}</h2>
  <% @lessees.each do |lessee| %>
    <%= lessee %>
  <% end %>
  <% @parcels.each do |parcel| %>
    <%= parcel  %>
  <% end %>
  <h1>Tax Parcel ID and Location Information</h1>

</div>

