<table>
  <thead>
  <tr>
    <td>Lease Number</td>
    <td>Description</td>
  </tr>
  </thead>
  <tbody>
  <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>
