<table>
  <thead>
  <tr>
    <td>Lease</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
  <% @services = @services.in_state('submitted') %>
  <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.current_state %></td>
      </tr>
  <% end %>
  </tbody>
</table>
