<div id="service-dashboard">
  <h1>Service Dashboard</h1>

  <div id="new-requests">
    <h2>New Requests</h2>
  </div>

  <div id="pre-dispatch">

  </div>
  <div id="assigned-requests">
    <div id="abstract-table">

    </div>
    <div id="opinion-table">

    </div>
    <div id="curative-table">

    </div>
  </div>



</div>
