<div class="nested-fields flex-box flex-box-full">
  <fieldset>
    <div id="pc1" class="field">
      <%= f.text_field :provision %>
    </div>
    <div class="remove">
      <%= link_to_remove_association "Remove Provision", f %>
    </div>
  </fieldset>
</div>
