<table>
  <thead>
  <tr>
    <td>Lease</td>
    <td>Parcels / Abstract</td>
  </tr>
  </thead>
  <tbody>

  <% @abs = @services.in_state('accepted_by_abstractor') %>
  <%= will_paginate @services %>
  <% @abs.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
            <% service.parcels.each do |parcel| %>
            <% @id = [parcel.tax_map, parcel.tax_parcel].compact.join("-") %>
                <td>  <%= link_to @id, parcel.title_abstract %> </td>
            <% end %>
       <% end %>
     </tr>
  </tbody>
</table>
