<table>
  <thead>
  <tr>
    <td>Lease</td>
    <td>Abstract</td>
  </tr>
  </thead>
  <tbody>

  <% @abs = @services.in_state('accepted_by_abstractor') %>
  <%= will_paginate @services %>
  <% @abs.each do |service| %>
      <tr>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= link_to service.lease_number, service %></td>
       <% end %>
      </tr>
  </tbody>
</table>
