
<div class="flex-boxes">  
  <h1>Lessor</h1>

  <div class="flex-box flex-box-full">
    <div id="service-project">
  </div>
    <%= simple_form_for @provison do |f| %>
  <fieldset>
    <div class="field">
        <%= f.text_field :provision %>
        <%= f.button 'submit'  %>
        <% end %>
    </div>
  </fieldset>
</div>
