
#service-index {
  margin: 20px;
  h1 {
    text-align: center;
  }
  img {
    text-align: center;
    margin-left: 20px;
  }

}
#service_form {
  width: 600px;
  label {
    display: inline;
  }
  margin-right: auto;
  margin-left: auto;
}

input[type="checkbox"] {
  display: inline;
  margin-right: 0.375em;
}


.horse {
  text-align: center;
}

#log-in {

  margin-left: auto;
  margin-right: auto;
  width: 20%;
  h1 {
    text-align: center;
  }
}