
#service-index {
  margin: 20px;
  h1 {
    text-align: center;
  }
  img {
    text-align: center;
    margin-left: 20px;
  }

}

.horse {
  text-align: center;
}

#log-in {

  margin-left: auto;
  margin-right: auto;
  width: 20%;
  h1 {
    text-align: center;
  }
}