#container {
  @include outer-container;
}
#service-index {
  margin: 20px;
  h1 {
    text-align: center;
  }
  img {
    text-align: center;
    margin-left: 20px;
  }
}

#contact-index {
  margin: 20px;
  h1 {
    text-align: center;
  }
  img {
    text-align: center;
    margin-left: 20px;
  }
}
.inline {
  display: inline;
}
#company-index {
  margin: 20px;
  h1 {
    text-align: center;
  }
  img {
    text-align: center;
    margin-left: 20px;
  }
}
.users-index {
  .container {
  margin-left: 20px;
  }
}
#request {
  text-align: center;
  margin-top: 15px;

}
#company_form {
  width: 750px;
  label {
    display: inline;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: auto;
  margin-left: auto;
  input[type="checkbox"] {
    display: inline;
    margin-right: 0.375em;
    margin-left: 4em;
  }
}
#new_company_form {
  width: 740px;
  label {
    display: inline;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: auto;
  margin-left: auto;
  input[type="checkbox"] {
    display: inline;
    margin-right: 0.375em;
    margin-left: 4em;
  }
}
#new_client_form {
  width: 750px;
  label {
    display: inline;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: auto;
  margin-left: auto;
  input[type="checkbox"] {
    display: inline;
    margin-right: 0.375em;
    margin-left: 4em;
  }
}
#new_contact_form {
  height: 100%;
  width: 750px;
  label {
    display: inline;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: auto;
  margin-left: auto;
  input[type="checkbox"] {
    display: inline;
    margin-right: 0.375em;
    margin-left: 4em;
  }
}
#new_service_form {
  width: 730px;
  label {
    display: inline;
  }
  input {
    display: inline;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  margin-right: auto;
  margin-left: auto;
  input[type="checkbox"] {
    display: inline;
    margin-right: 0.375em;
    margin-left: 4em;
  }
}

input[type="checkbox"] {
  display: inline;
  margin-right: 0.375em;
}


.horse {
  text-align: center;
}

#log-in {

  margin-left: auto;
  margin-right: auto;
  width: 20%;
  h1 {
    text-align: center;
  }
}

#l1 {
  margin-left: 40px;
  @include span-columns(5);
}

#l2 {
  @include span-columns(5);
  margin-left: 20px;
  margin-right: auto;
}

#l3 {
  margin-left: 20px;
  @include span-columns(11);
}

#l4 {
  margin-left: 20px;
  @include span-columns(3);
}

#l5 {
  @include span-columns(3);
}

#l6 {
  @include span_columns(5);
}

#l7{
  margin-left: 20px;
  @include span-columns(11);
}

#l8 {
  margin-left: 20px;
  @include span-columns(5);
}

#l9 {
  @include span-columns(3);
}

#l10 {
  @include span-columns(3);


}

.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      display: inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }     

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width:750px;
    height: 440px;

    @include media($tab-mode) {
      border-top: $tab-border;
       float: left;
    }
  }
}

.pagination {
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: inline;
    text-align: center;

    li {
      display: inline;
    }

    ul li {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.2s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-color;
      padding: $base-spacing/4 $gutter/2;

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $base-link-color;
      }

      &:active {
        background: $pagination-background;
      }
    }
  }
}

 
